In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Overview of Data

In [14]:
df = pd.read_csv('../Data/train.csv')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

## Split into train and test groups

In [16]:
X = df[['keyword', 'location', 'text']]
y = df['target']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=18)

In [18]:
X_train

,keyword,location,text
355,army,NaN,Vote for #Directioners vs #Queens in the 5th r...
1570,cliff%20fall,NaN,#FunnyNews #Business Watch the moment a cliff ...
7198,weapon,NaN,Back to back like I'm on the cover of lethal w...
2614,destruction,NaN,Crackdown 3 Destruction Restricted to Multipla...
6977,twister,NaN,It's alil twister at Tha end to! I was like oh...
...,...,...,...
1726,collided,"Johannesburg, South Africa",2 pple have been confirmed dead and over 20 re...
2885,drought,"Los Angeles, CA",'It's an eerie way of revealing both our histo...
1144,bombing,NaN,Japan Marks 70th Anniversary of Hiroshima Atom...
4371,hijacker,NaN,Medieval airplane hijacker testa: earnings the...
3370,evacuation,"Bend, Oregon",Update: Bend FD says roofing co. workers accid...